
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  "Archivo", sans-serif;
}

body{
    background-color: #1C1A1A;
}

.container-my{
    height: 100vh;
    overflow-x: hidden;
}

/* heder */

.soon{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-items: center;
    background-color: #7F8481;
    border-radius: 0px 0px 30px 30px;
}

.soon img{
    width: 21vw;
}

.navbar-itens-my{
    width: 100vw;
    display: grid;
    justify-items: center;
}

.navbar-itens-my ul{
    display: flex;
    gap: 10vw;
    align-items: center;
    justify-content: center;
    height: 10vh;
    list-style: none;
    width: 90vw;
    background-color: #CDCDCD;
    border-radius: 0px 0px 30px 30px;
}

.navbar-itens-my ul li{
    padding: 30px;
}

.navbar-itens-my ul li a{
    text-decoration: none;
    font-family: "Archivo Black", sans-serif;
    font-size: 1.3em;
    color: white;
}

.navbar-itens-my ul li a:hover{
    height: 100%;
    padding: 10px;
    background-color: #717070;
    border-radius: 50px;
    transition: 1s;
}

.navbar-itens-my ul li a:not(:hover){
    transition: 1s;
}

/* home */

.home{
    display: grid;
    width: 100vw;
    grid-template-columns:4fr 2fr;
    align-items: center;
    justify-items: center;
    margin-top: 6vh;
}   

.image-home{
    width: 93%;
    box-shadow: 5px 5px 0px  0px #717070;
}

.text-home{
    display: grid;
    gap: 10vh;
}

.text-home h2{
    color: white;
    text-align: center;
    font-size: 2em;
}

hr{
    width: 80vw;
    margin: 0 auto;
    margin-top: 6vh;
    color: white;
}

/* plans */

.plans{
    width: 100vw;
    display: grid;
    justify-items: center;
}

.plans h2{
    margin: 0 auto;
    font-family: "Archivo Black", sans-serif;
    margin-top: 4vh;
    color: white;
    font-size: 3em;
}

.plans-streaming{
    margin-top: 5vh;
    gap: 10vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.plan-option{
    width: 17vw;
    border: 2px solid black;
    border-radius: 40px;
}

.title-plan{
    color: white;
    text-align: center;
    padding: 10px;
    background-color: #717070;
    border-radius: 40px 40px 0px 0px;
}

.title-plan p{
    font-family: "Archivo Black", sans-serif;
    font-size: 1.7em;
    
}

.text-plan{
    display: grid;
    justify-items: center;
    color: white; 
    background-color: #252525; 
    padding-bottom: 4vh; 
}

.text-plan div p{
    padding: 3px;
    text-align: center;
    font-size: 1.04em;
}

.text-plan h4{
    text-align: center;
    padding: 15px;
    background-color: #D9D9D9;
    width: 80%;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 3vh;
    color: #1C1A1A;
    font-weight: 300;
}

.button-plan{
    background-color: #252525;
    border-radius: 0px 0px 40px 40px;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.button-plan button{
    width: 13vw;
    height: 8vh;
    border-radius: 40px;
    background-color: #7F8481;
    font-family: "Archivo Black", sans-serif;
    font-size: 1.2em;
    color: white;
}

.button-plan button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 1s;
    color: #1C1A1A;
}

.button-plan button:not(:hover){
    transition: 1s;
}

/* Compatibility */

.compatibility{
    width: 100vw;
}

.compatibility h2{
    text-align: center;
    font-family: "Archivo Black", sans-serif;
    margin-top: 4vh;
    color: white;
    font-size: 3em;
}

.available-compatibilities{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
}

.available-compatibilities h3{
    color: white;
    font-size: 1.6em;
    text-align: center;
}

.available-compatibilities p{
    color: white;
    text-align: center;
    font-size: 1.3em;
}

/* about-app */

.about-app{
    width: 100vw;
}

.about-app h3{
    text-align: center;
    font-family: "Archivo Black", sans-serif;
    margin-top: 4vh;
    color: white;
    font-size: 3em;
}

.curiosities{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    align-items: center;
    justify-items: center;
    margin-top: 4vh;
}

.curiosities div{
    width: 100%;
    display: grid;
    justify-items: center;
    gap: 2vh;
}

.curiosities div p{
    text-align: center;
    color: white;
    line-height: 4vh;
    font-size: 1.4em;
}


.carousel-item img{
    width: 15vw;
}

.international-channels{
    display: grid;
    width: 100vw;
    justify-items: center;
}

.program-styles{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    margin-top: 6vh;
}

.program-styles p{
    color: white;
    text-align: center;
    font-weight: 200;
    margin-top: 2vh;
    font-size: 1.3em;
}

.doubt{
    display: grid;
    align-items: center;
    justify-items: center;
}

.doubt h3{
    text-align: center;
    font-family: "Archivo Black", sans-serif;
    margin-top: 4vh;
    color: white;
    font-size: 3em;
}

.resolve-doubt{
    display: grid;
    grid-template-columns: 6fr  4fr;
    align-items: center;
    gap: 5vh;
    margin-top: 5vh;
}

.resolve-doubt h3{
    font-size: 2.8em;
}

.resolve-doubt p{
    color: white;
    font-weight: 200;
    font-size: 1.4em;
}

.btn-doubt{
    background-color: #717070;
    padding: 5vh;
    border-radius: 30px;
    font-family: "Archivo Black", sans-serif;
    color: white;
    font-size: 1.3em;
}

.h4-doubt{
    font-family: "Archivo Black", sans-serif;
    color: white;
    font-size: 2.4em;
    margin-top: 5vh;
}

footer{
    margin-top: 5vh;
    padding: 5vh;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 4fr 3fr;
    background-color: #717070;
}

footer p{
    color: white;
    font-weight: 300;
    font-size: 1.4em;
}

.btn-test{
    background-color: #1C1A1A;
    padding: 5vh;
    width: 30vw;
    border-radius: 30px;
    font-family: "Archivo Black", sans-serif;
    color: white;
    font-size: 1.3em;
}

#mobile-whatsapp-icon {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9999;

    display: none;

    justify-items: end;
}

#mobile-whatsapp-icon img {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
}
